<div class="zone-container">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <i class="pi {{icon}}"></i>
        <span class="font-bold">{{ name }}</span>
      </div>
    </ng-template>
    <p-tree
      class="w-full md:w-30rem"
      selectionMode="checkbox"
      [(selection)]="selectedFiles"
      [emptyMessage]="'No Objects Loaded'"
      [value]="treeNodes">
      <ng-template let-node pTemplate="location-item">
        <p class="m-0">
          <app-zone-location-item [location]="node.data"/>
        </p>
      </ng-template>
      <ng-template let-node pTemplate="default">
        <b>{{ node.label }}</b>
      </ng-template>
    </p-tree>
  </p-panel>
</div>
